// fonts
	
$rr: 'RobotoRegular'

// z-index
$index_1_G: 10
$index_2_G: 20

// color
$link_hover_color_G: #FF00A3

// header
$header_height_G: 100px

//menu-btn
$menu_left_G: 270px
$height_btn_menu_G: 30px
$bg_btn_menu_G: #2773D7
$color_btn_menu_G: #fff

// menu
$height_menu_G: 700px - $header_height_G

// first
$first_a_left_G: 20px
$first_a_right_G: 10px
$first_height_a_G: 10px
$first_color_link_G: #2773D7
$first_bg_link_G: lighten(#ccc, 10%)
$first_height_G: 700px - $header_height_G

// second
$second_top_G: 0
$second_li_width_G: 230px
$second_a_padding_top_bottom_G: 5px
$second_a_padding_left_right_G: 15px
$second_a_fs_G: 15px
$second_span_ml_G: 10px
$second_span_fs_G: 8pt
$second_a_color_G: orange

// third
$third_a_padding_top_bottom_G: 2px
$third_a_pr_G: 15px
$third_a_pl_G: 25px
$third_a_fs_G: 14px
$third_a_color: green

// city
$height_city_G: 700px - $header_height_G

// filter color
$link_color_G: #19DDE5