body
	padding-left: 210px
.add-filters-css
	font: bold 18px sans-serif
	cursor: pointer
	display: inline-block
	&:hover
		text-shadow: 0 0 1px green
.select-categories-css
	margin-top: 47px
.table-hover-css tr:hover
	background: lighten(#ccc, 30%)