@import _var

.input-categories-css
	margin-top: 22px
.input-group
	margin: 10px 0
	&:last-child
		margin: 0
.input-group-addon[title]
	cursor: pointer
	&:hover
		box-shadow: inset 0 0 2px #a94442
.filter__add-css
	p
		font: bold 18px sans-serif
		cursor: pointer
		&:hover
			text-shadow: 0 0 1px #3c763d
.btn-wrap-css
	margin-bottom: 20px
.table-hover-css 
	margin-bottom: 15px
	tbody tr:hover
		background: lighten(#ccc, 30%)
#message-js
	font: 18px sans-serif
