@import _var

body
	padding-left: 200px
.list-group-css
	padding-top: 23px
.input-group
	margin: 0 0 15px
	&:last-child
		margin: 0
.glyphicon-plus
	font-size: 15pt
.plug
	height: 34px
.input-group-addon
	cursor: pointer
	&:hover
		box-shadow: inset 0 0 2px #a94442
.error-item
	border: 1px solid red
	position: relative
	&:after
		content: 'Пустое значение'
		display: block
		position: absolute
		top: -17px
		left: 0
		color: red
		font: bold 14px sans-serif
