@import '_mixin'
@import '_smart-grid'
@import '_var'

.menu
	border: 1px solid #ccc
	position: fixed
	top: 0
	left: 0
	width: 200px
	height: 100vh
	padding: 20px 10px
	background: lighten(#ccc, 10%)
	li
		margin-bottom: 5px
		a
			font: bold 16px sans-serif
			color: #000
			&:hover
				color: #888