.add-filters-css {
  font: bold 18px sans-serif;
  cursor: pointer;
  display: inline-block;
}

.add-filters-css:hover {
  text-shadow: 0 0 1px green;
}

.select-categories-css {
  margin-top: 22px;
}

.select-categories-css select {
  margin-bottom: 17px;
}

.table-hover-css {
  margin-bottom: 15px !important;
}

.table-hover-css tbody tr:hover {
  background: white;
}

.btn-wrap-css {
  margin-bottom: 20px;
}

#message-js {
  font: 18px sans-serif;
}