.header {
  width: 100%;
  min-height: 100px;
}

.menu {
  max-width: 1360px;
  margin: 0 auto;
  min-height: 50vh;
  border: 1px solid red;
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
}

.menu__first {
  padding: 20px 10px;
  border: 1px solid blue;
  width: 250px;
}

.menu__first > li {
  margin: 5px;
}

.menu__first > li > a {
  color: red;
}

.menu__second {
  position: absolute;
  left: 250px;
  top: 0;
  border: 1px solid red;
  width: calc(100% - 250px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.menu__third {
  border: 1px solid green;
  padding-left: 20px;
  width: 200px;
}

.menu__third > li > a {
  color: green;
}

.menu li {
  padding: 5px 15px;
}

.arr {
  padding: 30px;
}