.none {
  display: none !important;
}

.load {
  width: 0;
  height: 2px;
  background: red;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: inline-block;
}

.load-opacity:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.btn-load {
  width: 50px;
  height: 20px;
  background: red;
  margin: 0 auto;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100px;
  background: #333;
  position: relative;
}

.header__wrap {
  max-width: 1365px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.header__wrap > a {
  color: #fff;
  padding: 0 10px;
  font: 20px sans-serif;
}

.auth {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.auth__user {
  border: 1px solid white;
  margin-top: 10px;
  background: #333;
  padding: 20px;
  text-align: left;
}

.auth__user a {
  display: block;
  color: #fff;
  padding: 5px 0;
}

#auth-user {
  border-radius: 50%;
  border: 3px solid orange;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20pt;
  margin-left: auto;
}

#auth-user:hover {
  border-color: green;
}

#auth {
  border: 1px solid red;
  padding: 5px 10px;
  font: 20px sans-serif;
}

#sign-in,
#sign-up {
  position: fixed;
  z-index: 20;
  width: 300px;
  height: 280px;
  padding: 20px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 0 0 5000px #fff;
  background: #ccc;
}

#sign-in p,
#sign-up p {
  margin-bottom: 15px;
  font-size: 25px;
}

#sign-in input,
#sign-up input,
#sign-in button,
#sign-up button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 15px;
}

#sign-in > a,
#sign-up > a {
  font: bold 18px sans-serif;
  margin: 0px 10px;
}

#sign-up {
  height: 320px;
}

#menu-btn,
#city-btn {
  color: #fff;
  cursor: pointer;
  width: 270px;
  height: 30px;
  padding: 0 20px;
  background: #2773D7;
  display: block;
  font: bold 20px sans-serif;
  line-height: 30px;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}

#menu-btn:hover,
#city-btn:hover {
  color: #FF00A3;
}

#menu-close,
#city-close {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 10px;
  font-size: 25pt;
  cursor: pointer;
  color: red;
}

.menu,
.city {
  width: 100%;
  position: absolute;
  z-index: 10;
  height: 600px;
  left: 0;
  right: 0;
  top: 100%;
  font-family: sans-serif;
  font-weight: bold;
  border: 2px solid rgba(21, 233, 221, 0.4);
  border-radius: 5px;
  background: #fff;
}

.menu a,
.city a {
  width: 100%;
  display: inline-block;
}

.menu a:hover,
.city a:hover {
  color: #FF00A3;
}

.menu a:hover span,
.city a:hover span {
  color: #FF00A3;
}

.menu__first {
  width: inherit;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.menu__first > li {
  width: 270px;
}

.menu__first > li > a {
  display: inline-block;
  padding: 10px 10px 10px 20px;
  color: #2773D7;
}

.menu__first > li > a span {
  float: right;
}

.menu__first > li > a:hover {
  background: #e6e6e6;
}

.menu__second {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 270px;
  top: 0;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.menu__second > li {
  width: 230px;
}

.menu__second > li > a {
  padding: 5px 15px;
  font-size: 15px;
  color: orange;
}

.menu__second > li > a span {
  margin-left: 10px;
  font-size: 8pt;
  display: inline-block;
  vertical-align: middle;
}

.menu__third {
  width: 100%;
}

.menu__third > li {
  overflow: hidden;
  position: relative;
}

.menu__third > li:before {
  content: '';
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 90%);
}

.menu__third > li > a {
  padding: 2px 15px 2px 25px;
  white-space: nowrap;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 14px;
  color: green;
}

#city-btn {
  margin-left: 280px;
}

.city__wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 20px;
}

.city ul:not([class=city__first]) {
  padding-left: 15px;
}

.city ul:not([class=city__first]) a {
  padding: 2px 0;
  font-weight: 400;
}

.city__first {
  width: 47.5%;
  margin-left: 1.25%;
  margin-right: 1.25%;
  box-shadow: 3px 3px 3px #ccc, -3px -3px 3px #ccc, 3px -3px 3px #ccc, -3px 3px 3px #ccc;
  padding: 5px;
}

.city__second {
  height: 505px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.city__second li {
  width: 210px;
}

.city__thrid {
  padding: 5px 0;
}

.city__thrid li a {
  color: green;
}

.content {
  max-width: 1365px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.content__filter {
  width: 22.5%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.content__filter-category,
.content__filter-type,
.content__filter-price,
.content__filter-btn {
  width: 100%;
  font: 18px sans-serif;
  padding: 10px;
  border: 1px solid #000;
  margin-top: 20px;
  position: relative;
}

.content__filter-category p,
.content__filter-type p,
.content__filter-price p,
.content__filter-btn p {
  cursor: pointer;
}

.content__filter-category p span,
.content__filter-type p span,
.content__filter-price p span,
.content__filter-btn p span {
  float: right;
}

.content__filter-category ul,
.content__filter-type ul,
.content__filter-price ul,
.content__filter-btn ul {
  border: 1px solid #000;
  overflow: auto;
  height: 300px;
  position: absolute;
  padding: 10px;
  top: -1px;
  left: -1px;
  right: -1px;
  z-index: 10;
  background: #e6e6e6;
}

.content__filter-category a,
.content__filter-type a,
.content__filter-price a,
.content__filter-btn a {
  color: #000;
}

.content__filter-type input {
  float: right;
}

.content__filter-type ul {
  top: 100%;
}

.content__filter-price p {
  margin-bottom: 5px;
  cursor: default;
}

.content__filter-price input {
  width: 47.5%;
  padding: 5px 10px;
}

.content__filter-btn {
  text-align: center;
  color: blue;
  cursor: pointer;
}

.content__wrap {
  width: 72.5%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.content__wrap-item {
  margin: 10px 0;
  width: 100%;
  min-height: 50px;
  padding: 10px 30px;
  background: #e6e6e6;
  border: 1px solid #000;
}

.content__wrap-item a {
  font: bold 22px sans-serif;
  color: blue;
  text-transform: uppercase;
}

.item-city {
  display: inline-block;
  float: right;
  font: bold 20px sans-serif;
  color: orange;
  text-transform: capitalize;
}

.item-price {
  width: 100%;
  text-align: right;
  margin: 10px 0;
  padding-right: 20px;
  color: #999;
  font: 20px sans-serif;
}

.item-category {
  font: 18px sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  color: red;
  margin: 10px;
}